@font-face {
    font-family: open-sans;
    src: url('fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family:roboto;
    src: url('fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
.buttons{
    background-color: rgba(77, 90, 229, 1);
    color:#FFFFFF;
}
.buttons:hover {
    color:#FFFFFF;
    background-color:rgba(64, 75, 191, 1);
    cursor: pointer;
}
a:hover{
    color:#404BBF;
}
a {
    color:#434455;
    text-decoration: none;
}
body{
    font-family:roboto, sans-serif;
    color:#434455;
    font-size:16px;
    line-height:1.5;
}
.first{
    background-color:rgba(46, 47, 66, 1);
}
h1{
    color:rgba(255, 255, 255, 1);
    line-height:60px;
}
.team{
    background-color: rgba(244, 244, 253, 1);
}
.footer{
    background-color:rgba(46, 47, 66, 1) ;
}
#footer{
    color:rgba(244, 244, 253, 1);
}
.web ,.web:hover{
    color:rgba(77, 90, 229, 1);
}
.studio1, .studio1:hover{
    color:rgba(46, 47, 66, 1);
}
.studio2, .studio2:hover{
    color:rgba(244, 244, 253, 1);
}
.second{
    list-style: none;
}