/* ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL ALL*/
*{
    font-family: 'Roboto',sans-serif;
}

.buttons:hover {
    color:#FFFFFF;
    background-color:rgba(64, 75, 191, 1);
    cursor: pointer;
}
.buttons {
    background-color: rgba(77, 90, 229, 1);
    color: #FFFFFF;
}
a:hover{
    color:#404BBF;
}
a {
    color:#434455;
    text-decoration: none;
}
body{
    font-family:roboto, sans-serif;
    color:#434455;
    font-size:16px;
    line-height:1.5;
}
h1 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
}

h2 {
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
}

h3 {
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}
p {
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
ul{
    margin: 0px;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin:0px;
    padding:0px;
}
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER*/
header{
    display: flex;
    justify-content: space-around; 
    padding-bottom: 24px;
    padding-top: 24px;
    align-items: baseline;
    align-items: center;
}
.header_left{
    display: flex;
    align-items: baseline;
}
.webstudio {
    padding-right: 76px;
}
.header_container{
    width:261px;
    height:24px;
    display:flex;
    gap:40px;
}
address{
    display:flex;
    flex-direction: row;
    gap:40px;
}
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT*/
.about_stuff{
    padding-top: 188px;
    padding-bottom: 292px;
    padding-left: 472px;
    padding-right: 472px;
    background-color: rgba(46, 47, 66, 1);
    align-items: center;
    justify-content:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.about_title{
}
.about_container{
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: left;
    list-style: none;
    padding-left:156px;
    padding-right: 156px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.about_button{
    width:169px;
    height:56px;
    border-radius: 4px;
    margin-top: 48px;
}
/*TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM TEAM*/
.team{
    background-color: rgba(244, 244, 253, 1);
    flex-direction:row;
}
.team_container{
    display:flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
}
.team_title{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.team_member{
    display:inline-block;
    padding-top: 232px;
    padding-bottom: 120px;
    height:380px;
}
.team_member_text{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 2px rgba(0, 0, 4, 0.08);
    box-shadow:0px 1px 1px rgba(46, 47, 66, 0.16);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08);
    text-align: center;
    justify-content: center;
}
.team_member_text h3{
    justify-content: center;
    display:flex;
}
.team_member_text p{
    padding-bottom: 32px;
    padding-top: 4px;
}
.team_member_text h3{
    padding-top: 32px;
}
/* PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO*/
.portfolio_container{
    justify-content: center;
    display:flex;
    gap:24px;
    list-style-type:none;
    flex-wrap:wrap;
    padding-bottom: 120px;
}
.portfolio_title{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.portfolio_card{
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(231, 233, 252, 1);
    border-width:1px;
    border-style: solid;
}
.portfolio_card_text p {
    padding-left: 10px;
    padding-bottom: 32px;
}
.portfolio_card_text h3{
    padding-left: 10px;
    padding-top: 32px;
    padding-bottom: 8px;
}
.portfolio_card_text{
    padding-left: 16px;
}
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
.footer{
    background-color: rgba(46, 47, 66, 1);
    padding-left: 156px;
    padding-top: 100px;
}
.footer_text{
    color: rgba(244, 244, 253, 1);
    width:264px;
}.web,
.web:hover {
    color: rgba(77, 90, 229, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
}

.studio1,
.studio1:hover {
    color: rgba(46, 47, 66, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-style: bold;
    line-height: 21px;
    letter-spacing: 3%;
    width: 71px;
    height: 21px;
    font-size: 18px;
}

.studio2,
.studio2:hover {
    color: rgba(244, 244, 253, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-style: bold;
    line-height: 21px;
    letter-spacing: 3%;
    width: 71px;
    height: 21px;
    font-size: 18px;
}