*{
    font-family: 'Roboto',sans-serif;
}
.buttons{
    background-color: rgba(77, 90, 229, 1);
    color:#FFFFFF;
}
.buttons:hover {
    color:#FFFFFF;
    background-color:rgba(64, 75, 191, 1);
    cursor: pointer;
}
a:hover{
    color:#404BBF;
}
a {
    color:#434455;
    text-decoration: none;
}
body{
    font-family:roboto, sans-serif;
    color:#434455;
    font-size:16px;
    line-height:1.5;
}
.first{
    background-color:rgba(46, 47, 66, 1);
}
.team{
    background-color: rgba(244, 244, 253, 1);
}
.footer{
    background-color:rgba(46, 47, 66, 1) ;
}
#footer{
    color:rgba(244, 244, 253, 1);
}
.web ,.web:hover{
    color:rgba(77, 90, 229, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
}
.studio1, .studio1:hover{
    color:rgba(46, 47, 66, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-style: bold;
    line-height: 21px;
    letter-spacing: 3%;
    width:71px;
    height: 21px;
    font-size:18px;
}
.studio2, .studio2:hover{
    color:rgba(244, 244, 253, 1);
    font-family: 'Raleway';
    font-weight: 700;
    font-style: bold;
    line-height: 21px;
    letter-spacing: 3%;
    width: 71px;
    height: 21px;
    font-size: 18px;
}
.second{
    list-style: none;
}
h1{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: bold;
    font-size:56px;
    line-height: 60px;
    letter-spacing: 2%;
}
h2{
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
}
h3{
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}
p{
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;    
}